doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/contactform.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap' rel='stylesheet')
body
  .contact-banner
    h1 Contact Us
    p.contact-description
      | We&apos;d really love to hear from you!
  form(name='contact-form')
    .form-control
      label Full Name
      input(name='name' placeholder='First and Last Name')
      .error.hide Name is required
    .form-control
      label Email
      input(name='email' placeholder='e.g. your_email@example.com')
      .error.hide Email is invalid
    .form-control
      label Phone
      input(name='phone')
      .error.hide Phone is invalid
    .form-control
      label Message
      textarea(name='message')
      .error.hide Message is required
    hr
    button(type='submit') SUBMIT FORM
  script(src='/css/contactform.js')
