doctype html
head
  title OUR TEAM
  link(href='https://fonts.googleapis.com/css?family=Dokdo' rel='stylesheet')
  link(rel='stylesheet' href='team.css')
header
  h1
    | Our Products 
    p Produced by Karibu Groceries
  hr
main
  .box
    img(src='#')
  .box
    img(src='#')
  .box
    img(src='#')
  .box
    img(src='#')
  .box
    img(src='#')
  .box
    img(src='#')
  .box
    img(src='#')
  .box
    img(src='#')
