doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='./css/bootstrap.css')
  link(rel='stylesheet' href='/public/css/team.css')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css')
// Start of our team
.wrapper
  h1 Our Team
  .team
    .team_member
      .team_img
        img(src='/public/img/jon.jpg' alt='Team_image')
      h3 Jenz jonah
      p.role Director
      p
    .team_member
      .team_img
        img(src='../img/jona.jpg')
      h3 Winnie Sanyu
      p.role MANAGER
      p
    .team_member
      .team_img
        img(src='../img/jona.jpg' alt='Team_image')
      h3 Zam Hamaz
      p.role SALES AGENT
      p
// end of our team
