.footer
  .container
    .row
      .footer-col-1
        h2 Download our App
        p Download App for Android and ios mobile phone
      .footer-col-2
        h2 KARIBU GROCERIES
        p our purpose is to provide quality and benefits of our clients
      .footer-col-3
        h2 Useful links
        ul
          li Blog post
          li Return policy
          li Join Affailiate
          li Coupons
      .footer-col-3
        h2 Follow us
        ul
          li Facebook
          li Youtube
          li Instagram
          li Twitter
    hr
    p.copyright copyright 2022 KARIBU GROCERIES
